export PKG_CONFIG_PATH="$(brew --prefix portaudio)/lib/pkgconfig:$PKG_CONFIG_PATH"
export CPPFLAGS="-I$(brew --prefix portaudio)/include"
export LDFLAGS="-L$(brew --prefix portaudio)/lib"

export LD_LIBRARY_PATH="$(
    find "$VIRTUAL_ENV/lib/python3.12/site-packages/nvidia" \
        -type d -name lib \
        -printf '%p:' 2>/dev/null
)$LD_LIBRARY_PATH"